torch
torchvision
numpy==1.24.3
matplotlib
pyyaml
einops
vit_pytorch
prettytable
rospkg
efficientnet_pytorch
diffusers==0.11.1
huggingface_hub<0.14.0
git+https://github.com/ildoonet/pytorch-gradual-warmup-lr.git
scipy
scikit-learn
wandb
termcolor
pandas
transforms3d
